<!--Image below top navbar -->
<img id="banner" alt="IoT image" src="../images/maxresdefault.jpg">

<div class="container" id="bootstrap-override">

  <!--First row begins-->
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 first-row">

      <h3 class="custom-introduction">Wondering who we are and what<br> it is about ?</h3>
      <p class="custom-introduction-para">
        <br>Well IoT Orchard is a platform where you can publish your
        <br> sensor data to cloud free of cost. As its name suggests, it
        <br>is an orchard of data you post from your time series IoT
        <br> devices.
        <br>
        <br>
      </p>
      <h5 class="custom-introduction-tag">Its simple, fast and really easy to use.</h5>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 feature-div">

      <p><a class="feature" href="#IOT">How do we do it?</a>
      </p>
      <p class="gap"></p>
      <p><a class="feature" href="#secure-text">Secure your data!</a>
      </p>
      <p class="gap"></p>
      <p><a class="feature" href="#PostAndGet">Try simple Post and Get</a>
      </p>
      <p class="gap"></p>
      <p><a class="feature" href="#createUser">Try creating your user account!</a>
      </p>
      <p class="gap"></p>
      <p><a class="feature" href="#SecureData">Try to lock your data points</a>
      </p>
      <p class="gap"></p>
      <p><a class="feature" href="#use">Try to fetch your secured data points</a>
      </p>

    </div>

  </div>
  <!--First row ends-->


  <!--Second row begins-->
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cat-IOT" id="IOT">
      <h3>How do we do it?</h3>
      <p>
        Any internet device we can think of can publish data to our cloud.
        We <br>do not require sign up. You can simply post and get posted data from<br> cloud as a guest user.
        Click <a href="http://localhost:63342/dweetWebsite/swagger-ui.html">here</a> to play around!
      </p>

      <a class ="pull-right" href="#Top">Top<span class = "glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span></a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cat-IOT-img" >
      <img src="../images/1.jpg">
    </div>

  </div>
  <!--Second row ends-->

  <!--Third row begins-->
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cat-iotorchard-img" id="what-is-iotorchard">
      <img src="../images/4.jpg">
    </div>

    <div id = "secure-text" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cat-iotorchard">
      <h3>Secure your data!</h3>
      <p>
        However, since our database gets refreshed every 24 hours, if you wish<br> to save and mine your data,
        there is an easy way to it. You are invited to create a user account, at a very low cost, just 1 USD per month.
        You<br> can secure your data <a href = "Secure">here.</a>
      </p>

      <a class ="pull-right" href="#Top">Top<span class = "glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span></a>
    </div>

  </div>
  <!--Third row ends-->

</div>

<simple-get-post></simple-get-post>
<secure-data></secure-data>

<!--Footer begins-->
<footer>

  <div class=" navbar navbar-default footer-style fix">
    <div class="container-fluid">
      <p class="navbar-text pull-left ">iotorchard.io is brought to you by this.com</p>
      <a class="navbar-text pull-right" href="">Privacy and Terms</a>

    </div>
  </div>
</footer>
<!--Footer ends-->
